@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  text-align: center;
  background-color: white;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

#header {
  color: #eeeeee;
}

#header h1 {
  font-size: 5rem;
  color: #393e46;
  margin: 4rem 0;
}

#header #logo-1 {
  width: 200px;
  margin: 2rem 0;
  margin-bottom: 5rem;
}

#header #logo-2 {
  width: 800px;
}

#header #down-button {
  border-radius: 50%;
  margin: 1rem auto;
  width: 50px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#header #down-button:hover {
  width: 60px;
}

#header .banner-art {
  height: 300px;
  background-image: url("/assets/img/vanbak.png");
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

#header #main-nav {
  background-image: url("/assets/img/vanbak.png");
  background-attachment: fixed;
}

#header #main-nav img {
  width: 50px;
}

#header #main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header #main-nav ul li {
  list-style: none;
  margin: 2rem 3.3rem;
}

#header #main-nav ul li a {
  font-size: 1.2rem;
  border-bottom: 2px solid #eeeeee;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#header #main-nav ul li a:hover {
  color: #929aab;
  -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
  border-bottom-style: dotted;
}

#header .welcome-container .lead {
  color: #393e46 !important;
  font-size: 1.4rem;
  padding: 2rem 0;
}

#header .welcome-container .social-1 {
  margin: 1rem auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #929aab;
}

#header .welcome-container .social-1 i {
  color: black;
  margin: 2.5rem 0.5rem;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#header .welcome-container .social-1 i:hover {
  color: #929aab;
}

#header .welcome-container .subscribe-container {
  background-color: black;
  padding: 3rem 0;
}

#header .welcome-container .subscribe-container h4 {
  font-size: 2rem;
}

#header .welcome-container .subscribe-container #sub-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .welcome-container .subscribe-container #sub-form .form-group label {
  margin: 0 1rem;
}

#header .welcome-container .subscribe-container #sub-form .form-group input {
  padding: 1rem;
}

#header .welcome-container .subscribe-container #sub-form .form-group input:focus {
  outline: none;
}

#header .welcome-container .subscribe-container #sub-form button {
  background-color: #393e46;
  margin: 0 1rem;
  width: 120px;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#header .welcome-container .subscribe-container #sub-form button:hover {
  background-color: #eeeeee;
  color: #393e46;
  cursor: pointer;
  border-color: #393e46;
  -webkit-box-shadow: 5px 5px 4px;
          box-shadow: 5px 5px 4px;
  font-size: 1.2rem;
}

#header .welcome-container p {
  font-size: 16px;
  color: #eeeeee !important;
  color: black;
  width: 70%;
  margin: 1rem auto;
}

@media (max-width: 600px) {
  #sub-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sub-form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sub-button {
    padding: 1rem;
    width: 100% !important;
    margin: 0 !important;
  }
}

#releases {
  background-color: #eeeeee;
  margin-top: 2rem;
}

#releases h2 {
  font-size: 3.4rem;
  font-weight: lighter;
  border-bottom: 1px solid #393e46;
  width: 500px;
  margin: 1rem auto;
  padding-top: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

#releases .releases-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#releases .releases-container .release-item {
  margin: 1rem auto;
}

#releases .releases-container .release-item .release-pic {
  width: 300px;
}

#artists {
  background-color: black;
  color: #eeeeee;
}

#artists h2 {
  font-size: 3.4rem;
  font-weight: lighter;
  border-bottom: 1px solid #eeeeee;
  width: 300px;
  padding: 3rem auto;
  margin: 0 auto;
  padding-top: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

#artists .artists-container {
  padding-bottom: 20%;
  margin: 0 auto;
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#artists .artists-container .artist-item {
  width: 300px;
}

#artists .artists-container .artist-item h4 {
  font-size: 1.4rem;
  margin: 1rem auto;
  text-transform: uppercase;
  font-weight: lighter;
}

#artists .artists-container .artist-item img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#artists .artists-container .artist-item img:hover {
  opacity: 0.8;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#demo-submission {
  background-color: #eeeeee;
  padding: 2rem 0;
}

#demo-submission h2 {
  font-size: 3.4rem;
  font-weight: lighter;
  border-bottom: 1px solid black;
  width: 700px;
  margin: 2rem auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
}

#demo-submission .demo-container {
  width: 30%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.5rem;
}

#demo-submission .demo-container #demo-form input {
  padding: 1rem 0;
  margin: 10px 0;
  width: 100%;
}

#demo-submission .demo-container #demo-form #demo-button {
  width: 100%;
  padding: 1rem 0;
  margin: 10px 0;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#demo-submission .demo-container #demo-form #demo-button:hover {
  background-color: #393e46;
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
  cursor: pointer;
}

#main-footer {
  background-color: black;
  color: #eeeeee;
}

#main-footer .final-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-footer .final-links ul li {
  margin: 2rem;
  list-style: none;
}

#main-footer .final-links ul li a {
  color: #393e46;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#main-footer .final-links ul li a:hover {
  color: #eeeeee;
  background-color: #393e46;
  padding: 1rem;
}

#main-footer .final-footer p {
  padding: 2rem;
}

#main-footer .final-footer {
  background-color: white;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393e46;
}

#main-footer .final-footer img {
  width: 150px;
}

#main-footer .final-footer #deale-logo {
  width: 50px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */