@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/gill-sans");

$grey-one: #929aab;
$light-one: #eeeeee;
$lightest: #f7f7f7;
$dark-one: #393e46;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: white;
}
a {
  text-decoration: none;
  color: $lightest;
}

// HEADER

.subscribe-container {
  background-color: black;

  color: white;
  padding: 3rem 0;
  h4 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  #sub-form {
    display: flex;
    margin: 2rem auto;
    justify-content: center;

    font-size: 2rem;
    .form-group {
      label {
        margin: 0 2rem;
      }
      input {
        padding: 1rem 3rem;
        font-size: 2rem;
      }

      input:focus {
        outline: none;
      }
    }
    button {
      background-color: $dark-one;
      margin: 0 1rem;
      font-size: 1rem;
      letter-spacing: 1px;
      width: 120px;
      border: 1px solid white;
      font-weight: lighter;
      color: white;
      transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
    button:hover {
      background-color: $light-one;
      color: $dark-one;
      cursor: pointer;
      border-color: $dark-one;
      box-shadow: 5px 5px 4px;
      font-size: 1.2rem;
    }
  }
}

#header {
  h1 {
    font-size: 5rem;
    color: $dark-one;
    margin: 4rem 0;
  }

  #logo-1 {
    width: 200px;
    margin: 2rem 0;
    margin-bottom: 5rem;
  }
  #logo-2 {
    width: 40%;
  }

  #down-button {
    border-radius: 50%;
    margin: 1rem auto;
    width: 50px;
    display: block;
    transition: all 0.2s;
    &:hover {
      width: 60px;
    }
  }

  .banner-art {
    height: 300px;
    background-image: url("/assets/img/vanbak.png");
    background-position: center;

    background-repeat: repeat-x;
    background-attachment: fixed;
  }

  color: $light-one;
  #main-nav {
    background-image: url("/assets/img/vanbak.png");
    background-attachment: fixed;
    img {
      width: 50px;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin: 2rem 3.3rem;
        a {
          font-size: 1.4rem;
          letter-spacing: 1px;
          font-weight: lighter;
          transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        a:hover {
          color: $grey-one;
          // border-bottom-color: $grey-one;
          border-bottom: 2px solid $light-one;
          box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
          border-bottom-style: dotted;
        }
      }
    }
  }

  .welcome-container {
    .lead {
      color: $dark-one !important;
      font-size: 2rem;
      padding: 2rem 0;
      letter-spacing: 0.2px;
    }
    .social-1 {
      margin: 1rem auto;
      width: 70%;
      display: flex;
      justify-content: center;
      border-top: 2px solid $grey-one;
      i {
        color: black;
        margin: 2.5rem 0.5rem;
        transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      i:hover {
        color: $grey-one;
      }
    }

    p {
      font-size: 16px;
      color: $light-one !important;
      color: black;
      width: 70%;
      margin: 1rem auto;
    }
  }
}

//subscribe box queries
@media (max-width: 600px) {
  #sub-form {
    flex-direction: column;
    .form-group {
      display: flex;
      flex-direction: column;
    }
  }
  #sub-button {
    padding: 1rem;
    width: 100% !important;
    margin: 0 !important;
  }
}

//RELEASES

#releases {
  background-color: $light-one;
  margin-top: 2rem;
  h2 {
    font-size: 3.4rem;
    font-weight: lighter;
    border-bottom: 1px solid $dark-one;
    width: 500px;
    margin: 1rem auto;
    padding-top: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
  }
  .releases-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    .release-item {
      margin: 1rem auto;
      .release-pic {
        width: 300px;
      }
    }
  }
}

//ARTISTS

#artists {
  background-color: black;
  color: $light-one;

  h2 {
    font-size: 3.4rem;
    font-weight: lighter;
    border-bottom: 1px solid $light-one;
    width: 300px;
    padding: 3rem auto;
    margin: 0 auto;
    padding-top: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
  }
  .artists-container {
    padding-bottom: 20%;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    .artist-item {
      h4 {
        font-size: 1.4rem;
        margin: 1rem auto;
        text-transform: uppercase;
        font-weight: lighter;
      }
      width: 300px;
      img {
        width: 100%;
        height: auto;
        transition: all 0.3s;
      }
      img:hover {
        opacity: 0.8;
        transform: scale(0.99);
      }
    }
  }
}

//DEMO SUBMISSION

#demo-submission {
  h2 {
    font-size: 3.4rem;
    font-weight: lighter;
    border-bottom: 1px solid black;
    width: 700px;
    margin: 2rem auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
  }
  background-color: $light-one;
  padding: 2rem 0;
  .demo-container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    #demo-form {
      label {
        font-size: 1.4rem;
      }
      input {
        padding: 1rem 0;
        margin: 10px 0;
        width: 100%;
        font-size: 1rem;
      }
      #demo-button {
        width: 100%;
        padding: 1rem 0;
        margin: 10px 0;
        font-size: 1.4rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $dark-one;
          color: $lightest;
          border: 2px solid $lightest;
          cursor: pointer;
        }
      }
    }
  }
}

//FOOTER

#main-footer {
  background-color: black;
  color: $light-one;

  .final-links ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 2rem;
      list-style: none;
    }
  }

  .final-links ul li a {
    color: $dark-one;
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .final-links ul li a:hover {
    color: $light-one;
    background-color: $dark-one;
    padding: 1rem;
  }

  .final-footer p {
    padding: 2rem;
  }

  .final-footer {
    background-color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $dark-one;
    img {
      width: 150px;
    }

    #deale-logo {
      width: 50px;
      border-radius: 50%;
    }
  }
}

//Footer Queries

@media (max-width: 600px) {
}
