@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$grey-one: #929aab;
$light-one: #eeeeee;
$lightest: #f7f7f7;
$dark-one: #393e46;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  text-align: center;
  background-color: $lightest;
}
a {
  text-decoration: none;
  color: $lightest;
}

// HEADER

#header {
  h1 {
    font-size: 5rem;
    color: $dark-one;
    margin: 4rem 0;
  }

  #logo-1 {
    width: 200px;
    margin: 2rem 0;
    margin-bottom: 5rem;
  }
  height: 90vh;
  color: $light-one;
  #main-nav {
    background-color: black;
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin: 2rem 3.3rem;
        a {
          font-size: 1.2rem;
          border-bottom: 2px solid $light-one;
          transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        a:hover {
          color: $grey-one;
          // border-bottom-color: $grey-one;
          box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
          border-bottom-style: dotted;
        }
      }
    }
  }

  .welcome-container {
    .social-1 {
      margin: 1rem auto;
      width: 70%;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid $grey-one;
      i {
        color: black;
        margin: 1.5rem 0.5rem;
        transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      i:hover {
        color: $grey-one;
      }
    }

    p {
      color: black;
      width: 70%;
      margin: 3rem auto;
    }
  }
}

//FOOTER

#main-footer {
  background-color: black;
  color: $light-one;
  .subscribe-container {
    padding: 3rem 0;
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 11px;
    }

    #sub-form {
      display: flex;
      margin: 2rem auto;
      justify-content: center;
      .form-group {
        label {
          margin: 0 1rem;
        }
        input {
          padding: 1rem;
        }
        input:focus {
          outline: none;
        }
      }
      button {
        background-color: $dark-one;
        margin: 0 1rem;
        width: 120px;
        border: 1px solid white;
        color: white;
        transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      }
      button:hover {
        background-color: $light-one;
        color: $dark-one;
        cursor: pointer;
        border-color: $dark-one;
        box-shadow: 5px 5px 4px;
        font-size: 1.2rem;
      }
    }
  }

  .final-links ul {
    display: flex;
    li {
      margin: 2rem;
      list-style: none;
    }
  }

  .final-links ul li a {
    color: $dark-one;
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .final-links ul li a:hover {
    color: $light-one;
    background-color: $dark-one;
    padding: 1rem;
  }

  .final-footer {
    background-color: $lightest;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $dark-one;
    img {
      width: 150px;
    }

    #deale-logo {
      width: 50px;
      border-radius: 50%;
    }
  }
}
