@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  text-align: center;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

#header {
  height: 90vh;
  color: #eeeeee;
}

#header h1 {
  font-size: 5rem;
  color: #393e46;
  margin: 4rem 0;
}

#header #logo-1 {
  width: 200px;
  margin: 2rem 0;
  margin-bottom: 5rem;
}

#header #main-nav {
  background-color: black;
}

#header #main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header #main-nav ul li {
  list-style: none;
  margin: 2rem 3.3rem;
}

#header #main-nav ul li a {
  font-size: 1.2rem;
  border-bottom: 2px solid #eeeeee;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#header #main-nav ul li a:hover {
  color: #929aab;
  -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.9);
  border-bottom-style: dotted;
}

#header .welcome-container .social-1 {
  margin: 1rem auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #929aab;
}

#header .welcome-container .social-1 i {
  color: black;
  margin: 1.5rem 0.5rem;
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#header .welcome-container .social-1 i:hover {
  color: #929aab;
}

#header .welcome-container p {
  color: black;
  width: 70%;
  margin: 3rem auto;
}

#main-footer {
  background-color: black;
  color: #eeeeee;
}

#main-footer .subscribe-container {
  padding: 3rem 0;
}

#main-footer .subscribe-container h4 {
  font-size: 2rem;
}

#main-footer .subscribe-container p {
  font-size: 11px;
}

#main-footer .subscribe-container #sub-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-footer .subscribe-container #sub-form .form-group label {
  margin: 0 1rem;
}

#main-footer .subscribe-container #sub-form .form-group input {
  padding: 1rem;
}

#main-footer .subscribe-container #sub-form .form-group input:focus {
  outline: none;
}

#main-footer .subscribe-container #sub-form button {
  background-color: #393e46;
  margin: 0 1rem;
  width: 120px;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#main-footer .subscribe-container #sub-form button:hover {
  background-color: #eeeeee;
  color: #393e46;
  cursor: pointer;
  border-color: #393e46;
  -webkit-box-shadow: 5px 5px 4px;
          box-shadow: 5px 5px 4px;
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */